<%- include('partials/header'); -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="title" value="">
    <label>Post</label>
    <textarea class="form-control" name="postbody" rows="5" cols="40"></textarea>

  </div>
  <button type="submit" name="button">publish</button>
</form>
<%- include('partials/footer'); -%>
